#header {
    height: 300px; 
    width: 100%;
    background-color:aquamarine;
}
#main
{
    width: 100%;
    height: 300px;
    background-color:blue ;
}

#sidebar {
    width: 30%;
    height: 400px;
    background-color: blueviolet;
}
#content {
    width:  calc(100% - 300);
    height: 400px;
    background-color: rgb(43, 226, 83);
}
#footer {
    width: 100%;
    height: 150px;
    background-color: rgb(255, 96, 96);
}
